---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home Page">
  <h1>My Astro Site</h1>
  <h2>My Awesome blog subtitle</h2>
  <Greeting client:load messages={["Hi", "Howdy", "Hey There", "Hello"]} />
</BaseLayout>
